<h3>Machine Learning Scoring Services:</h3>

<%= render partial: 'layouts/record_table', locals: { 
    records: MlScoringService.all,
    helpers: %w(ldap_test ml_scoring_test),
    blacklist: %w(created_at updated_at)
} %>