<h1>Machine Learning Scoring Services</h1>

<%= render partial: 'layouts/record_table', locals: { 
    records: @ml_scoring_services,
    helpers: %w(ldap_test ml_scoring_test),
    blacklist: %w(created_at updated_at)
} %>