<script id="myTemplate" type="text/x-handlebars-template">
  <div class="message-wrapper user">
    <%= image_tag 'head.svg', class: 'message-icon user-icon' %>
    <div class="message user-message">
      {{ message }}
    </div>
  </div>
</script>