---
applications:
- name: cognitive-bank-example
  buildpack: ruby_buildpack
  memory: 512MB
  services:
    - <WATSON_CONVERATION_SERVICE_NAME>
  command: bundle exec rake db:setup && bundle exec rails s -p $PORT
  env:
    WORKSPACE_ID: <WATSON_CONVERATION_WORKSPACE_ID> 
    ML_SCORING_URL: <ML_SCORING_ENDPOINT_URL>
    ML_SCORING_AUTH: 'Bearer <ML_SCORING_TOKEN>'
