<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Cognitive Bank</h1>
    <p>Giving you a smarter banking experience with Watson</p>
    <br>
    <p><%= link_to 'Special Offers', offers_path, class: 'btn btn-success btn-lg' %></p>
    <br>
    <p>Built by: <strong>IBM Competitive Project Office</strong></p>
  </div>
</div>
