
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Watson Offers</h1>
    <p>These are recommendations for you based on the Cognitive Abilities of IBM Watson</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="https://www.ibm.com/watson/" target="_blank">Learn
      more &raquo;</a></p>
  </div>
</div>

<div class="container">


  <!--<div class="page-header">-->
  <!---->
  <!--</div>-->

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail offer">
        <img class="offer-image"
             src="http://sgi3.offerscdn.net/i/production/published/4/image/4645178.h210.w210.flpad.v4.bffffff.jpg"
             alt="...">
        <div class="caption">
          <h3>40% off All EMS Winter Jackets</h3>
          <p>From: Eastern Mountain Sports</p>
          <div class="offer-buttons">
            <p><a href="#" class="btn btn-success" role="button">Get Offer</a>
              <a href="#" class="btn btn-default" role="button">Save</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail offer">
        <img class="offer-image"
             src="http://sgi3.offerscdn.net/i/production/published/4/image/4661873.h200.w220.flpad.v4.bffffff.jpg"
             alt="...">
        <div class="caption">
          <h3>Up to 64% off NCAA Fleece from $18</h3>
          <p>From: Woot</p>
          <div class="offer-buttons">
            <p><a href="#" class="btn btn-success" role="button">Get Offer</a>
              <a href="#" class="btn btn-default" role="button">Save</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail offer">
        <img class="offer-image"
             src="http://sgi3.offerscdn.net/i/production/published/4/image/4656091.h200.w220.flpad.v1.bffffff.jpg"
             alt="...">
        <div class="caption">
          <h3>$119 Hunter Women's Original Tour Gloss Rain Boots + Free Shipping</h3>
          <p>From: Ruule</p>
          <div class="offer-buttons">
            <p><a href="#" class="btn btn-success" role="button">Get Offer</a>
              <a href="#" class="btn btn-default" role="button">Save</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail offer">
        <img class="offer-image"
             src="http://sgi1.offerscdn.net/i/production/published/4/image/4654067.h200.w220.flpad.v1.bffffff.jpg"
             alt="...">
        <div class="caption">
          <h3>$20 American Eagle Women's Jackets</h3>
          <p>From: American Eagle Outfitters</p>
          <div class="offer-buttons">
            <p><a href="#" class="btn btn-success" role="button">Get Offer</a>
              <a href="#" class="btn btn-default" role="button">Save</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail offer">
        <img class="offer-image"
             src="http://sgi1.offerscdn.net/i/production/published/4/image/4657067.h200.w220.flpad.v1.bffffff.jpg"
             alt="...">
        <div class="caption">
          <h3>50% off Select Styles</h3>
          <p>From: Nike.com</p>
          <div class="offer-buttons">
            <p><a href="#" class="btn btn-success" role="button">Get Offer</a>
              <a href="#" class="btn btn-default" role="button">Save</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail offer">
        <img class="offer-image"
             src="http://sgi3.offerscdn.net/i/production/published/4/image/4648018.h200.w220.flpad.v3.bffffff.jpg"
             alt="...">
        <div class="caption">
          <h3>$89 Fitbit Alta Wireless Activity Tracker</h3>
          <p>From: Groupon</p>
          <div class="offer-buttons">
            <p><a href="#" class="btn btn-success" role="button">Get Offer</a>
              <a href="#" class="btn btn-default" role="button">Save</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
