<h1>Edit Machine Learning Service</h1>

<div class="container">

  <div class="row form-group">
    <%= render 'shared/x_admin' %>

    <div class="col-md-10"></div>
  </div>

  <%= render partial: 'form', locals: { ml_scoring_service: @ml_scoring_service} %>

</div>