<%= render 'shared/x_admin' %>

<div class="container">
  
  <h1 class="center">New Machine Learning Service</h1>
  
  <div class="center">
    <%= link_to({ controller: 'ml_scoring_services', action: 'detect', id: @ml_scoring_service }, class: 'btn btn-lg btn-info') do %>
        <%= content_tag :span, nil, class: 'glyphicon glyphicon-search' %> Detect Bluemix WML Service
    <% end %>
  </div>
  
  <%= render 'form' %>

</div>