<% errors ||= [] %>
<div class="form-group <%= 'has-error' if errors.length>0 %>">
  <%= f.label action, action.to_s.humanize+':', class: 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= f.text_field action, class: 'form-control' %>
    <% if errors.length>0 %>
      <%= f.label action, errors[0], class: 'control-label' %>
    <% end %>
  </div>
</div>