<div class="button-container">
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#<%= id %>">
    <%= defined?(text) ?  text : 'Full JSON' %>
  </button>
</div>
<div id="<%= id %>" class="collapse">
  <pre><%= JSON.pretty_generate(data) %></pre>
</div>
<br>