<div>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#<%= id %>">Raw JSON</button>
  <div id="<%= id %>" class="collapse">
    <pre><%= JSON.pretty_generate(data) %></pre>
  </div>
</div>
<br>