// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#x_admin {
  float: left;
  > .btn {
    border-radius: 0;
  }
}

.with-logo > img {
  width: 60px;
  margin-right: 1rem;
}