// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grey_glyph {
  span {
    color: darkgrey;
    font-size: 20px;
  }
}

#x_admin {
  float: left;
  margin: 1rem;
  
  @extend .grey_glyph;
  span:hover {
    color: grey;
  }
}

#customer-settings-area {
  float: right;
  
  #customer-settings-button {
    @extend .grey_glyph;
  }
  
  #customer-settings-menu > div > * {
    margin-left:auto;
    margin-right:0;
  }
}

.with-logo > img {
  width: 60px;
  margin-right: 1rem;
}