// Place all the styles related to the cognitive_bank controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// Move down content because we have a fixed navbar that is 50px tall
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-inverse {
  background-color: black;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

// Override Bootstrap display: block
.navbar-brand > img {
  display: inline;
}

.navbar-logo {
  height: 50px;
  vertical-align: -70%
}

.main-logo {
  height: 100px;
  vertical-align: -25%
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.offer {
  position: relative;
  height: 400px;
}

.offer-image {
  max-width: 200px;
  max-height: 200px;
}

.offer-buttons {
  position: absolute;
  bottom: 2px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.flex {
  display: flex;
}

.form-group .control-label {
  text-align: right;
}