// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#credit_card_img {
  height: 100px;
}

.cc-element {
  display: inline-block;
  padding-left: 15px;
}

.dash-tile {
  padding: 10px;
  background: white;
  border: 1px solid blue;
  border-radius: 6px;
}

.dash-tile > h4 {
  height: 36px;
}

.middle-content {
  height: 120px;
}

.vertical-align {
  vertical-align: middle;
  line-height: 120px;
}

#dash-tabs a {
  font-size: 1.6em;
  padding-left: 30px;
  padding-right: 30px;
}

.bordered {
  border:1px solid black;
}

.twitter-pic-icon {
  height: 6rem;
}

.watson-service-icon {
  height: 4rem;
}

#customer-img {
  margin-right: 4rem;
  > img {
    width: 160px;
  }
}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

.tweets {
  > div {
    max-width: 340px;
  }
}