// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$user-background: #007fff;
$watson-background: #008571;

$arrow-offset: -1.65rem;
$icon-offset: -5.2rem;

.message-wrapper {
  display: block;
  overflow: visible;
  position: relative;
  margin: 0 5.3125rem;
  max-width: 360px;
}

.user{text-align: left;}
.watson{text-align: right;}

.message {
  border-radius: 2rem;
  font-family: "Helvetica Neue for IBM Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  padding: 1.25rem 1.875rem;
  display: inline-block;
  margin: 0.3125rem 0;
  word-wrap: break-word;
}

.watson-message {
  background: $watson-background;
}

.user-message {
  background: $user-background;
}

.user-message::before, .watson-message::after {
  content: "";
  position: absolute;
  border: 1rem solid transparent;
}

.user-message::before {
  left: $arrow-offset;
  border-right-color: $user-background;
}

.watson-message::after {
  right: $arrow-offset;
  bottom: 1.5rem;
  border-left-color: $watson-background;
}

.message-icon {
  position: absolute;
}

.user-icon {
  height: 5.2rem;
  left: $icon-offset;
  top: 0.1rem;
}

.watson-icon {
  height: 4.5rem;
  right: $icon-offset;
  bottom: 0.2rem;
}

.watson img:not(.watson-icon) {
  max-width: 100%;
  max-height: 300px;
}

.watson .pre-bar::before {
  border-left-color: white;
}