.center {
  text-align: center;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-baseline {
  align-items: baseline;
}

.align-bottom {
  align-items: flex-end;
  table {
    margin-bottom: 0;
  }
}

.even-spaced {
  > div {
    flex: 1;
  }
}

.flex-center {
  justify-content: center;
}

.margin {
  > div {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .flex-space {
    width: 160px;
  }
}

.form-group .control-label {
  text-align: right;
}

.full-width {
  width: 100%;
}

.float-right {
  float: right;
}

.right-button > .button-container {
  text-align: right;
}

.green-cell, .red-cell {
  font-weight: bold;
}

.green-cell {
  background-color: #00FF00;
}

.red-cell {
  color: white;
  background-color: red;
}

.highlighted-cell {
  background-color: lightyellow;
  font-weight: bold;
}