<div id="chat-zone">
  <div id="chat-window">
    <%= react_component('WatsonMessage', msg: "Hey there, #{logged_in? ? current_user.name : 'user'}!") %>
    <%= react_component('UserMessage', msg: 'Hey there, Watson!') %>
    <div id="chat-input-container">
      <%= text_area(:post, :body, id: 'chat-input', placeholder: 'Send a message...') %>
    </div>
  </div>

  <div id="chat-button">
    <%= image_tag 'watson-logo-round.png', id: 'watson-button' %>
    <div id="close-button">
      <span id="close-icon">X</span>
    </div>
  </div>
  
</div>