<% columns = records.klass.columns.map {|col| col.name} %>
<% columns = columns - blacklist if defined? blacklist %>
<table class="table table-bordered table-striped">
  <tr>
    <% columns.each do |col| %>
      <th><%= records.klass.human_attribute_name col %></th>
    <% end %>
    <% helpers.each do |helper| %>
      <th><%= records.klass.human_attribute_name helper %></th>
    <% end %>
  </tr>
  <% records.each do |rec| %>
    <tr>
      <% columns.each do |col| %>
        <td><%= rec[col] %></td>
      <% end %>
      <% helpers.each do |helper| %>
          <%= method(helper).call(rec) %>
      <% end %>
    </tr>
  <% end %>
</table>
